.imgContainer{
      position: relative;
}

.imgContainer .lightBox.active{
      position: absolute;
      left: 0;
      top:0;
      width: 100%;
      height:100%;
      background: rgba(255, 255, 255, 0.31);
}
.imgContainer .lightBox.active{
      background: rgba(255, 255, 255, 0.31);
}